*.aux
*.log
*.nlo
*.nls
*.ilg
*.dvi
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.synctex.gz
*.vrb
*.nav
*.snm
pdfa.xmpi
*.pdf
!dev-documentation/img/diagrams/*.pdf
!specification/specification.pdf
*.idx
*.ind
*.fls
*.fdb*

!**/img/*
